<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>{% block title %}Upload your face&see it w/ glasses{% endblock %}</title>
<link rel="stylesheet" href="/media/style.css">
<link rel="stylesheet" href="/media/fileuploader.css">
<link rel="stylesheet" href="/media/front.css">

<script type="text/javascript" src="/media/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/media/notes.js"></script>
<script type="text/javascript" src="/media/fileuploader.js"></script>

</head>


<body>
	  <div id="header"> 
	  <div class="background"> 
	    <div class="inner"> 
	      <div id="logo-search"> 
	   <a href="http://glassesonme.com" id="logo"><img alt="sportsbook" height="55" src="http://glassesonme.com/media/icon.png" width="60"></a> 
	        <p id="tag"> 
	          Upload your face and see what it is like with glasses.


	        </p> 
	      </div> 



	  </div> 

	    </div> 
	  </div> 
	
<div class="container">
{% block content %}{% endblock %}
</div>



<div class="footer-wrapper"> 
    
  <div id="footer" class="round wide"> 
      <h3 class="offscreen">Footer</h3> 
      
      

<ul class="language-select"></ul> 

 
      <ul class="footer-nav"> 
          <li class="first">&copy; 2011-dat at offover dot com </li> 
         
   
      </ul> 
  </div> 
 
 
  </div>

</body>
</html>
